body {
  background-color: #F8FAFC;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero {
  height: 100vh;
  background-color: #002ba18c;
}

.hero-content {
  padding-top: 30vh;
  text-align: center;
}

.hero-btn {
  margin: 0 auto;
  padding: 25px 50px;
  text-align: center;
}

.hero-btn {
  padding: 25px;
  width: 135px;
  margin-top: 55px;
  border-radius: 35px;
  background-color: #3B82F6;
  transition: all 0.85s ease;
}

.hero-btn:hover {
  transform: scale(1.15);
  background-color: #21daca;
}

.hero-btn > a {
  text-decoration: solid;
  font-size: 18px;
  color: rgb(0,0,0);
  transition: all 0.5s ease
}

.hero-btn > a:hover {
  text-decoration: solid;
  font-size: 18px;
  color: #020077;
}

.about-content {
  text-align: center;
  padding: 25px;
}

a {
  color: #020077;
  transition: all 1s ease;
}

a:hover {
  color:#3B82F6;
}

.activities > h2 {
  padding-top: 55px;
  text-align: center;
}

.activities-container {
  display: flex;
  margin: auto 25px;
  padding: 10px;
}

.activities-plans{
  text-align: center;
  border: solid 2px #020077;
  border-radius: 4px;
  background-color: #ececec;
  padding: 35px;
  margin: 25px;
  transition: all 0.55s ease;
}

.activities-plans:hover {
  transform: scale(1.1);
}

.activities-devotionals{
  text-align: center;
  border: solid 2px #020077;
  border-radius: 4px;
  background-color: #ececec;
  padding: 35px;
  margin: 25px;
  transition: all 0.55s ease;
}

.activities-devotionals:hover {
  transform: scale(1.1);
}

.activities-testimonies{
  text-align: center;
  border: solid 2px #020077;
  border-radius: 4px;
  background-color: #ececec;
  padding: 35px;
  margin: 25px;
  transition: all 0.55s ease;
}

.activities-testimonies:hover {
  transform: scale(1.1);
}