body {
  background: radial-gradient(circle farthest-side at top, rgb(168, 40, 40), rosybrown);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:larger;
}

h1{
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
  text-align: center;
}

footer {
  margin-top: 25px;
}

hr {
  background-color:rgb(117, 0, 0);
  border-color:rgb(117, 0, 0);
  height: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: solid;
  background-color:rgb(189, 82, 82);
  border-color:rgb(117, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: rgb(117, 0, 0);
}

a:hover {
  color: white;
}

a:active {
  color: crimson;
}

.welcome { 
  margin: 50px 25px;
}

.pathways {
  margin: 50px 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


.column {
  padding: 15px;
  margin: 15px 10px;
  background-color: rosybrown;
  border: 2px solid rgb(117, 0, 0);
  text-align: center;
}


.pathways{
    text-align: center
}

