body {
  background: radial-gradient(circle farthest-side at top, rgb(168, 40, 40), rosybrown);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:larger;
}

p {
  text-align: justify;
}

h2 {
  text-align: center;
}

footer {
  margin-top: 25px;
}

hr {
  background-color:rgb(117, 0, 0);
  border-color:rgb(117, 0, 0);
  height: 2px;
}

.nav-contain{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.nav-contain h1 {
  font-size: 48px;
}

header .nav-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: rosybrown;
  border-bottom: 1px solid rgb(117, 0, 0);
  padding: 1rem 0;
}

nav ul {
 list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: auto;
  justify-content: flex-end;
}


nav a {
  text-decoration: none;
  color: rgb(117, 0, 0);
  font-weight: 500;
  font-size: x-large;
  padding-right: 10px;
}

a {
  color: rgb(117, 0, 0);
}

a:hover {
  color: white;
}

a:active {
  color: crimson;
}

.welcome { 
  margin: 50px 25px;
}

.pathways {
  margin: 50px 25px;
  text-align: center
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


.column {
  padding: 15px;
  margin: 15px 10px;
  background-color: rosybrown;
  border: 2px solid rgb(117, 0, 0);
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.35s ease;
}

.column:hover {
  transform: scale(1.02);
}
